################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharp-Eindopdracht/.vs/CSharp-Eindopdracht
